body{
    margin: 0;
    background-image: url(hatter.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    height: 58px;
    margin: 0;
    padding: 8px 0;
    text-transform: uppercase;
    color: #3366FF;
}

h2{
	height: 38px;
    margin: 0;
    padding: 4px 0;
    color: #3366FF;
    text-transform: lowercase;
}

.keret{
	width: 100%;
    height: 58px;
    background-color: #333 ;
    text-align: center;
}

.kep{
	border: dotted 5px blue;
}

#cim{
    color: white;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    
}

#menu{
    float: left;
    margin-left: 0;
    margin-right: -18%;
    width: 16%;
    background-color: #333;
    border: solid 3px white;
}

#menu ul li{
    padding: 10px 0;
}
#menu ul li.aktiv{
    font-weight: bold;
}
#menu a,
#menu a:link,
#menu a:visited{
    color: lightblue;
}
#menu a:hover{
    text-decoration: underline;
}


table{
    margin: 0;
    padding: 0;
    border: solid 1px #fcc;
    border-collapse: collapse;
}
caption{
    font-size: 22px;
    padding: 5px;
    border: solid 1px #fcc;
    background-color: white;
}
th{
    background-color: #f99;
    color: #066;
}
td{
    padding: 5px;
    border: dashed 1px #fcc;
}
.aside table{
    border: solid 2px blue;
}
.aside table caption{
    color: red;
    padding: 5px;
    font-weight: bold;
}
.aside table th{
    background-color: #ffc;
    color: #66f;
    padding-left: 25px;
    padding-right: 25px;
}
.aside table td{
    background-color: #fff;
    color: #666;
    padding-left: 10px;
}


form fieldset{
    width: 500px;
    padding: 10px;
    margin: 10px;
}

a, a:link, a:visited{
    text-decoration: none;
    color: lightblue;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style-image:url(hopehely.png) ;
}
#tartalom{
    width: 80%;
    
}
